{% extends "employe/base.html" %}
{% block content %}
 <div class="w-full bg-base-200">
    <div>
        <a href="{% url 'ajouter_employe' %}" class="btn btn-primary w-full"> Ajouter</a>
    </div>
    <div class="space-y-4 w-full">
        {% for emp in employe %}
        <div class="p-4 bg-base-100 rounded-lg w-full flex justify-between items-center">
            <div class="space-y-2">
                <p class="font-bold text-lg">{{emp.nom}} &nbsp &nbsp {{emp.prenom}}</p>
                <div class="flex gap-2">
                <p class="badge badge-dash badge-info">{{emp.email}}</p>
                <p class="badge badge-warning">{{emp.poste}}</p>
                <p class="badge badge-soft badge-primary">{{emp.salaire}}</p> 
                </div>
            </div>
            <div class="space-x-2">
                <a href="{% url 'modifier_employe' emp.id %}" class="btn btn-info btn-soft btn-sm">Modifier</a>
                <a href="{% url 'suprimer_employe' emp.id %}" class="btn btn-error btn-soft btn-sm">Suprimer</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}